@font-face
{
font-family: 'VT323';
src: url('police/VT323Regular.ttf');
font-weight: normal;
font-style: normal;
}

body
{
 display: flex;
 flex-wrap: wrap;
 margin: 0;
 padding: 0;
 font-family: VT323;
}

header
{
 display: flex;
 width: 100%;
}

header div
{
    margin-left: 11%;
   
}

.left
{
 display: flex;
 flex-direction: column;
 width: 30%;
 min-width: 300px;
 background-color: #feca07;
 
}

figure
{
display: flex;
justify-content: center;
padding-top: 5%;
padding-bottom: 3%;
margin: 0;
width: 30%;
min-width: 300px;
background-color: #feca07;
}

img
{
 border-radius: 50%;
 border:4px solid rgba(218, 175, 18, 0.9);
}

.left h2
{
 text-align: center;
 background-color: #404040;
 color: #feca07;
 font-size: 2.5em;
}

#contact address
{

margin-left: 15%;
font-size: 1.4em;
height: 55%;

}

address p
{
 margin-bottom: 3%;
}

.aboutme p
{
 display: flex;
 text-align: justify;
 margin: auto;
 padding-left: 15%;
 padding-right: 15%;
 font-size: 1.4em;
 height: 1200px;
}

#hobbie
{
 display: flex;
 flex-direction: column;
 font-stretch: normal;
 padding-bottom: 5%;
 margin-bottom: 5%;

}

#hobbie > div
{
 margin-left: 5%;
 margin-right: 5%;
}

/*PARTIE DROITE*/

main
{
 display: flex;
 flex-direction: column;
 width: 60%;
 margin-left: 5%;
 margin-right: 5%;
}

.rightleft
{
  display: flex;
}


header h1
{
 font-size: 4.5em;
 margin: 0;
 padding-top: 20%;
 padding-bottom: 0;
 padding-left: 0;
 margin-left: 0;
}

header h1 span
{

 color: #FBC02D;
}

header p
{
padding-left: 5px;
margin: 0;
font-size: 2.5em;

}

header p span
{
 text-decoration: underline #FBC02D;
}

h2
{
 font-size: 2.5em;
}

/* PARTIE FORMATION*/
#training
{
 display: flex;
 flex-direction: column;
}

#training div
{
 display: flex;
 align-items: baseline;
}

#training div aside
{
 width: 60%;
}

#training p 
{
 font-size: 1.3em;
}

/* PARTIE EXPERIENCE */

#experience
{
 display: flex;
 flex-direction: column;
}

#experience div
{
 display: flex;
 align-items: baseline;
}

#experience div aside
{
 width: 60%;
}

#experience p 
{
 font-size: 1.3em;
}

/* PARTIE RECOMMANDATION */

#reference
{
 display: flex;
 flex-direction: column;

}

#reference .one
{
margin-right: 30%;
}


#reference aside
{
 display: flex;
 flex-direction: row;
 align-items: baseline;
}

#reference p
{
 font-size: 1em;
 margin: 0;
 padding: 0;
}

#reference span
{
 font-weight: bold;
 font-size: 1em;
}

#reference h3
{
 font-size: 1.4em;
 margin-top: 0;
 
}

/* ESTHETIQUE TITRES ET PUCES */

h2 .fas
{
 color: #FBC02D;
}

#training h2
{
 border-bottom: solid #FBC02D;

}

#experience h2
{
 border-bottom: solid #FBC02D;
}

#reference h2
{
  border-bottom: solid #FBC02D;
}

#training h2 .fas
{
 margin-right: 2%; /* Crée un espace entre l'icone et le titre*/
}

h3
{
 font-size: 2em;
 padding-bottom: 0;
 margin-bottom: 0;
}

main aside
{
 font-size: 1.3em;
}

.h4
{
 font-size: 1.5em;
 margin: 0;
 padding: 0;
}

#hobbie > div
{
 display: flex;
 justify-content: space-around;
}

#hobbie i
{
 color: #404040;
 border: solid  #404040;
 border-radius: 50%;
 font-size: 2em;
 padding: 15%;

}

main i 
{
 color: #FBC02D;
}

#training article
{
 width: 80%;
}

#experience article
{
 width: 80%;
}

/*Media Queries Responsives */

@media screen and (min-width: 960px) and (max-width: 1280px)
{
  
}

@media screen and (min-width: 480px) and (max-width: 959px)
{

header div
{
  margin-left: 15%;
  font-size: smaller;
  
}

 body 
{
  display: flex;
  flex-wrap: wrap;
}

#hobbie > div
{
  margin-bottom: 5%;
  padding-bottom: 5%;
}

figure 
{
  padding-top: 5%;
  justify-content: center;
}

.aboutme p
{
  height: 700px;
}
 
 /*PARTIE DROITE */

main
 {
  width: 100%;
 }

 /* HEADER */
 header h1 
 {
   font-size: 3.5em;
 }
 header p 
 {
   font-size: 2em;
 }
 
 #hobbie > div
 {
   margin-bottom: 5%;
   padding-bottom: 5%;
   
 }

 section h2 
 {
   font-size: 2em;
 }

 #training div h3
 {
   font-size: 1.5em;
 }

 #experience div h3
 {
   font-size: 1.5em;
 }

 #reference h3 
 {
   font-size: 1.5em;
 }
 #reference .one
 {
 margin-right: 20%;
 }

 .aboutme
{
  height: 80%;
} 


/*ARTICLES EN COLUMN*/

#training div
{
  display: flex;
  flex-wrap: wrap;
}
#training div h3
{
  font-size: 1.7em;
}
#experience div
{
  display: flex;
  flex-wrap: wrap;
}
#experience div h3
{
  font-size: 1.7em;
}

/*PARTIE RECOMMANDATIONS*/

#reference h3 
{
  font-size: 1.2em;
}
#reference .one
{
margin-right: 10%;
}

}

@media screen and (min-width: 320px) and (max-width: 479px)
{
body 
{
  display: flex;
  flex-wrap: wrap;

}

.rightleft
{
    display: flex;
    flex-wrap: wrap-reverse;
    
}
 
figure 
{
    background-color: white;
    width: 95%;
    margin-top: 5%;
}


img 
{
    display: flex;
    justify-content: center;
}

header
{
 display: flex;
 flex-direction: column-reverse;

}

header div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16%;
    
    
}


header p span
{
 text-decoration: underline rgb(247, 126, 14);
}

.left
{
  width: 100%;
  display: flex;
  margin: 0;
}

main
{
    width: 100%;
}


#hobbie > div
{
  margin-bottom: 5%;
  padding-bottom: 5%;
}

#hobbie
{
  margin-top: 15%;
}

 
 /*PARTIE DROITE */

 main
 {
  width: 100%;
 }

 /* HEADER */
 header h1 
 {
   font-size: 2.5em;
 }

 header h1 span 
 {
   color: rgb(247, 126, 14);
 }

 header p 
 {
   font-size: 1.5em;
 }
 
 
 section h2 
 {
   font-size: 2em;
 }
 #training div
 {
   display: flex;
   flex-wrap: wrap;
 }
 #training div h3
 {
   font-size: 1.5em;
 }
 #experience div
 {
   display: flex;
   flex-wrap: wrap;
 }
 #experience div h3
 {
   font-size: 1.5em;
 }

 #reference h3 
 {
   font-size: 1em;
 }
 #reference .one
 {
 margin-right: 10%;
 }

#reference
{
  margin-bottom: 5%;
}

}
@media screen and (max-width: 319px)
{
 header h1 
 {
   font-size: 2.5em;
 }
 header p 
 {
   font-size: 1.5em;
 }

}

/*FORMAT PAYSAGE IPAD IPAD MINI */

@media (orientation: landscape) and (max-width : 1024px)
{
.aboutme
{
  height: 90%;
}
}

/*FORMAT PAYSAGE IPHONE X */

@media (orientation: landscape) and (max-width : 959px)
{

header
{
  width: 100%;
}
figure
{
display: flex;
justify-content: center;
padding-top: 5%;
padding-bottom: 3%;
margin: 0;
width: 30%;
min-width: 300px;
background-color: #feca07;
}

header div
{
  margin-left: 10%;
}

.left
{
  width: 30%;
}

#reference
{
 padding-bottom: 5%;
}

}